.text-primary { color: var(--fg-primary); }
.text-secondary { color: var(--fg-secondary); }
.text-special { color: var(--fg-special); }
.text-anchor { color: var(--fg-anchor); }

.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}

.flex {
  display: flex;
}

.row {
  flex-flow: row nowrap;
}
.row-wrap {
  flex-flow: row wrap;
}

.col {
  flex-flow: column nowrap;
}
.col-wrap {
  flex-flow: column wrap;
}

.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-stretch {
  justify-content: stretch;
}
.justify-between {
  justify-content: space-between;
}

.gap-sm {
  gap: var(--gap-sm);
}
.gap-md {
  gap: var(--gap-md);
}
.gap-lg {
  gap: var(--gap-lg);
}

.p-sm {
  padding: var(--gap-sm);
}
.p-md {
  padding: var(--gap-md);
}
.p-lg {
  padding: var(--gap-lg);
}
.pt-sm {
  padding-top: var(--gap-sm);
}
.pt-md {
  padding-top: var(--gap-md);
}
.pt-lg {
  padding-top: var(--gap-lg);
}
.pb-sm {
  padding-bottom: var(--gap-sm);
}
.pb-md {
  padding-bottom: var(--gap-md);
}
.pb-lg {
  padding-bottom: var(--gap-lg);
}
.pr-sm {
  padding-right: var(--gap-sm);
}
.pr-md {
  padding-right: var(--gap-md);
}
.pr-lg {
  padding-right: var(--gap-lg);
}
.pl-sm {
  padding-left: var(--gap-sm);
}
.pl-md {
  padding-left: var(--gap-md);
}
.pl-lg {
  padding-left: var(--gap-lg);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
